
config MTK_VCNL4200_NEW
	bool "vcnl42000-new for MediaTek package"
	default n
	help
	  It support different type sensor
	  in this platform. If this option
	  is set, it will support ambient
	  and light sensor VCNL4200-NEW.
