source "drivers/misc/mediatek/sensors-1.0/accelerometer/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/alsps/Kconfig"
source "drivers/misc/mediatek/sensors-1.0/hwmon/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/humidity/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/pedometer/Kconfig"
#source "drivers/misc/mediatek/sensors-1.0/geofence/Kconfig"
